.banner {
    margin: 0 auto;
    max-width: 750px;
    margin-top: 8rem;
    color: white;
}

.banner__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.banner__text {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}