.wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
}
.main {
    padding-top: 100px;
    margin: 100px 0;
}

.main__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
}

.product-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}