.product {
    max-width: 350px;
}

.product__img{
    object-fit: cover;
}

.product__line {
    display: flex;
    background: #F7654A;
    width: 55px;
    height: 6px;
    margin: 45px 0 15px 0;
}

.product__name {
    display: inline-block;
    margin-bottom:20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
}

.product__text {
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}