.wallpaper {
    max-width: 1150px;
    margin: 0 auto;
    height: 750px;
    position: relative;
}
.wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
}

.years {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20%;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 57px 0;

}