.footer {
    background-color: #F7654A;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
}

.footer__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

.button {
    cursor: pointer;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
}

.button__text {
    margin-left: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
}